@* Licensed to the Blazor Docs Contributors under one or more agreements. *@
@* The Blazor Docs Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
