@* Licensed to the Blazor Docs Contributors under one or more agreements. *@
@* The Blazor Docs Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="Header">
    <div class="Header-item">
        <a href="/" class="Header-link f4 d-flex flex-items-center">
            <img height="32" width="32" src="img/logo.png">
        </a>
    </div>
    <div class="Header-item">
        <a href="/counter" class="Header-link">Counter</a>
    </div>
    <div class="Header-item">
        <a href="/fetchdata" class="Header-link">Fetch data</a>
    </div>
    <div class="Header-item">
        <a href="/docs" class="Header-link">Docs</a>
    </div>
</div>
